.root{
    -fx-font-family: "Inter";
    /*-fx-background-color: black;*/
    /*-fx-background-color: radial-gradient(center 50% 50% , radius 600px , #521b9c, #0b064e);*/
    -fx-background-color: linear-gradient(to bottom right, #390081, #120f3f);
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.button{
    -fx-min-width: 150px;
    -fx-background-radius: 8px;
    -fx-border-radius: 5px;
    -fx-background-color: black;
    -fx-text-fill: white;
}


/* Hover effect */
.button:hover {
    -fx-background-color: #0b0449;
    -fx-cursor: hand;
}

/* Pressed effect */
.button:pressed {
    -fx-background-color: #e2dbff;
}